@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Rajdhani:wght@400;600;700&family=Righteous&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Rajdhani", sans-serif;
  font-family: "Poppins", sans-serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.f-righteous {
  font-family: "Righteous", cursive;
}
.color-white {
  color: white;
}
/* Header Area */
.header-area {
  background: url("../images/banner1.png");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.navbar-nav a:hover {
  color: #130f40 !important;
}
.blog-text {
  font-weight: 700;
  font-family: "Righteous", cursive;
  font-size: 60px;
  color: #02fee5;
}
.button {
  transition: 0.7s ease-in-out;
}
.button:hover {
  background-color: #02fee5;
  border-radius: 50px;
}
/* Blog Area */
.blog-title {
  font-family: "Righteous", cursive;
  font-size: 45px;
  text-align: center;
}
.like {
  display: flex;
}
.like li a {
  color: black;
}
.like li i {
  padding-right: 5px;
}
/* incelebrity Section */
.incelebrity {
  display: block;
  background: url("../images/our_img2.jpg");
  margin-top: 130px;
  margin-bottom: 60px;
  padding-top: 200px;
  background-color: red;
}
